@import '~@scss/helpers/_mixins.scss';
@import '~@scss/helpers/_utils.scss';
@import '~@scss/themes/index.scss';

.g2-oa-group {
  .weui-cells {
    &:first-child {
      margin-top: 0;
    }
  }
  .weui-cell {
    height: 0.373333rem;
    
    padding: 0.48rem 0.426667rem;
    &:before {
      left: 0;
    }
    .weui-cell__ft:after {
      width: 0.293333rem;
      height: 0.293333rem;
      margin-top: -0.186667rem;
    }
  }
  .vux-cell-bd p {
    margin-bottom: 0;
    color: rgb(51, 51, 51);
    @include font-dpr(15px);
  }
}
